{% extends 'core/base.html' %}

{% block title %}Escolher Prédio e Sala{% endblock %}

{% block content %}
{% block body %}
<style>
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

html, body {
    width: 100%; 
}
</style>
{% endblock %}

<div class="disciplinas-add-container">
    <!-- Título e Botão de Voltar -->
    <div class="header-container">
        <h1>Escolher Local</h1>
        <div class="actions">
            <button class="icon-btn" onclick="history.back();">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
    </div>
    <hr>

    <!-- Formulário para escolher prédio e sala -->
    <div class="import-disciplinas-container-topico">
        <form method="post" enctype="multipart/form-data" class="topico-form">
            {% csrf_token %}
            <div class="form-group-title">
                {{ form.as_p }}
            </div>
            <button type="submit" class="import-btn">
                <i class="fa fa-plus"></i>
                <span>Criar Evento</span>
            </button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const predioSelect = document.querySelector('select[name="predio"]');
        const salaSelect = document.querySelector('select[name="sala"]');

        predioSelect.addEventListener('change', function() {
            const predioId = this.value;
            if (predioId) {
                fetch(`/get_salas/${predioId}/`)
                    .then(response => response.json())
                    .then(data => {
                        salaSelect.innerHTML = ''; // Limpar as opções atuais
                        data.forEach(sala => {
                            const option = document.createElement('option');
                            option.value = sala.id;
                            option.textContent = sala.nome;
                            salaSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Erro ao buscar salas:', error));
            } else {
                salaSelect.innerHTML = ''; // Limpar se nenhum prédio for selecionado
            }
        });
    });
</script>
{% endblock %}
