{% extends 'core/base.html' %}
{% load static %}

{% block title %}Detalhes do Evento - {{ evento.nome }}{% endblock %}

{% block content %}
<h1>{{ evento.nome }}</h1>
{% if evento.imagem %}
    <img src="{{ evento.imagem.url }}" alt="{{ evento.nome }}" style="width: 300px; height: auto;" class="img-fluid mb-3">
{% else %}
    <img src="{% static 'event.webp' %}" alt="Imagem padrão do evento" style="width: 300px; height: auto;" class="img-fluid mb-3">
{% endif %}
<p><strong>Descrição:</strong> {{ evento.descricao }}</p>
<p><strong>Data de Início:</strong> {{ evento.data_inicio }}</p>
<p><strong>Data de Fim:</strong> {{ evento.data_fim }}</p>
<p><strong>Local:</strong> {{ evento.local }}</p>
<p><strong>Organizado por:</strong> 
    <a href="{% url 'view_profile' evento.criado_por.id %}" class="btn btn-link">
        {{ evento.criado_por.get_full_name }}
    </a>
</p>

{% if request.user == evento.criado_por %}
    <a href="{% url 'editar_evento' evento.id %}" class="btn btn-warning link-button">Editar</a>
    <form action="{% url 'deletar_evento' evento.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger link-button">Deletar</button>
    </form>
{% endif %}

<!-- Botão de Interesse -->
<form action="{% url 'toggle_interesse' evento.id %}" method="post" style="display:inline;">
    {% csrf_token %}
    {% if user in evento.interessados.all %}
        <button type="submit" class="btn btn-secondary">Remover dos Interesses</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Adicionar aos Interesses</button>
    {% endif %}
</form>

<a href="{% url 'lista_eventos' %}" class="btn btn-secondary link-button">Voltar para Lista de Eventos</a>
{% endblock %}