<!-- detalhe_topico.html -->
{% extends 'core/base.html' %}

{% block title %}{{ topico.titulo }}{% endblock %}

{% block content %}
<h1>{{ topico.titulo }}</h1>
<p>{{ topico.descricao }}</p>

<h2>Postagens</h2>

<ul>
  {% for postagem in topico.postagens.all %}
  <li>{{ postagem.conteudo }} - Criado por {{ postagem.criado_por.username }} em {{ postagem.data_criacao }}</li>
  {% empty %}
  <li>Não há postagens ainda.</li>
  {% endfor %}
</ul>

<h3>Nova Postagem</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Postar</button>
</form>

<a href="{% url 'lista_topicos' topico.disciplina.id %}">Voltar para Tópicos</a>

{% endblock %}