{% extends 'core/base.html' %}

{% block title %}Minhas Disciplinas - Localizador de Salas{% endblock %}

{% block content %}
    <h1>Minhas Disciplinas</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul>
        {% for user_discipline in user_disciplines %}
        <li>
            {{ user_discipline.disciplina.nome }} ({{ user_discipline.disciplina.codigo }})
        </li>
        {% empty %}
        <li>Você não adicionou nenhuma disciplina ainda.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'adicionar_disciplinas' %}">Adicionar Disciplinas</a><br>
    <a href="{% url 'remover_disciplinas' %}">Remover Disciplinas</a>

{% endblock %}