{% extends 'core/base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
{% load static %}
<div class="logo">
    <img src="{% static 'Logo.png' %}" alt="Logo">
</div>
<div class="container mt-5">
    <h2 class="editprofile">Editar Perfil</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
{% endblock %}