{% extends 'core/base.html' %}

{% block title %}Editar Evento - {{ evento.nome }}{% endblock %}

{% block content %}
{% block body %}
<style>
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

html, body {
    width: 100%; 
}
</style>
{% endblock %}
<div class="disciplinas-add-container">
    <!-- Título e Botão de Voltar -->
    <div class="header-container">
        <h1>Editar Evento</h1>
        <div class="actions">
            <a href="{% url 'detalhe_evento' evento.id %}" class="icon-btn">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <hr>

    <!-- Formulário de edição -->
    <div class="import-disciplinas-container-topico">
        <form method="post" enctype="multipart/form-data" class="topico-form">
            {% csrf_token %}
            <div class="form-group-title">
                {{ form.as_p }}

            </div>
            <a href="{% url 'adicionar_local_evento' %}" class="icon-btn" style="font-size: min(4vw,18px); color: grey; margin-bottom: min(8vw,30px); margin-top: max(-2vw,-18px); text-decoration: underline;">
                Selecionar local no mapa 
            </a>
            <button type="submit" class="import-btn">
                <i class="fa fa-save"></i>
                <span>Salvar Alterações</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
