{% extends 'core/base.html' %}
{% load static %}

{% block title %}Eventos Disponíveis{% endblock %}

{% block content %}
<h1>Eventos</h1>
{% if request.user.user_type == 'entidade' %}
    <a href="{% url 'criar_evento' %}" class="btn btn-primary mb-3">Criar Evento</a>
{% endif %}
<ul class="list-group">
    {% for evento in eventos %}
    <li class="list-group-item">
        <a href="{% url 'detalhe_evento' evento.id %}" class="stretched-link" style="text-decoration: none;">
            {% if evento.imagem %}
                <img src="{{ evento.imagem.url }}" alt="{{ evento.nome }}" style="width: 100px; height: auto; max-width: 150px;" class="img-thumbnail">
            {% else %}
                <img src="{% static 'event.webp' %}" alt="Imagem padrão do evento" style="width: 100px; height: auto; max-width: 150px;" class="img-thumbnail">
            {% endif %}
            <strong>{{ evento.nome }}</strong> - Organizado por: {{ evento.criado_por.get_full_name }}
        </a>
    </li>
    {% empty %}
    <li class="list-group-item">Nenhum evento disponível no momento.</li>
    {% endfor %}
</ul>
{% endblock %}