{% extends 'core/base.html' %}

{% block title %}Tópicos de {{ disciplina.nome }}{% endblock %}

{% block content %}
{% block body %}
<style>
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

html, body {
    width: 100%; 
}
</style>
{% endblock %}
<div class="disciplinas-add-container">
    <!-- Título -->
    <div class="header-container">
        <h1>Tópicos de {{ disciplina.nome }}</h1>
        <div class="actions">
            <a href="{% url 'detalhe_disciplina' disciplina.id %}" class="icon-btn">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <hr>

    <!-- Lista de tópicos -->
    <ul class="disciplinas-add-list">
        {% for topico in topicos %}
        <li class="disciplina-add-item">
            <label class="topico-titulo">
                <a href="{% url 'detalhe_topico' topico.id %}" class="disciplina-nome" style="font-weight: bold; color: black; font-size:min(18px,3.5vw) ;">{{ topico.titulo }}</a>
            </label>
            <label class="disciplina-codigo" style="font-weight: normal; font-size: min(12px,3vw); color: #666;">
                Criado por: {{ topico.criado_por.username }}
            </label>
        </li>
        {% empty %}
        <li class="empty-result" style="font-size: min(15px,4vw); color: #8c8c8c;">
            Não há tópicos para esta disciplina ainda.
        </li>
        {% endfor %}
    </ul>

    {% if request.user.user_type == 'representante' or request.user.user_type == 'professor' %}
    <div class="import-disciplinas-container">
        <a href="{% url 'novo_topico' disciplina.id %}" class="import-btn">
            <i class="fa fa-plus"></i>
            <span>Criar Novo Tópico</span>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
