{% extends 'core/base.html' %}

{% block title %}Notificações{% endblock %}

{% block content %}
<h1>Notificações</h1>

<ul class="list-group mb-4">
    {% for notificacao in notificacoes %}
    {% if user not in notificacao.excluidas_por.all %}
    <li class="list-group-item">
        <h5>{{ notificacao.titulo }}</h5>
        <p>{{ notificacao.mensagem }}</p>
        
        {% if notificacao.disciplina %}
            <p>Referente à disciplina: {{ notificacao.disciplina.nome }}</p>
            <a href="{% url 'detalhe_disciplina' notificacao.disciplina.id %}" class="btn btn-link">Ver Disciplina</a>
        {% endif %}
        
        {% if notificacao.evento %}
            <p>Referente ao evento: {{ notificacao.evento.nome }}</p>
            <a href="{% url 'detalhe_evento' notificacao.evento.id %}" class="btn btn-link">Ver Evento</a>
        {% endif %}

        {% if notificacao.topico %}
            <p>Referente ao tópico: {{ notificacao.topico.titulo }}</p>
            <a href="{% url 'detalhe_topico' notificacao.topico.id %}" class="btn btn-link">Ver Tópico</a>
        {% endif %}

        <small>Enviado por: 
            {% if notificacao.criador %}
                {{ notificacao.criador.get_full_name }}
            {% else %}
                Sistema
            {% endif %}
            em {{ notificacao.criado_em|date:"d/m/Y H:i" }}
        </small>
        
        <a href="{% url 'excluir_notificacao_recebida' notificacao.id %}" class="btn btn-danger">Excluir</a>
    </li>
    {% endif %}
    {% empty %}
    <li class="list-group-item">Nenhuma notificação disponível.</li>
    {% endfor %}
</ul>

{% if pode_criar %}
    <a href="{% url 'criar_notificacao' %}" class="btn btn-primary">Criar Notificação</a>
    <a href="{% url 'minhas_notificacoes' %}" class="btn btn-secondary">Minhas Notificações</a>
{% endif %}
{% endblock %}