{% extends 'core/base.html' %}

{% block title %}Notificações{% endblock %}

{% block content %}
{% block body %}
<style>
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

html, body {
    width: 100%; 
}
</style>
{% endblock %}
<div class="disciplinas-add-container">
    <!-- Título -->
    <div class="header-container">
        <h1>Notificações</h1>
        <div class="actions">
            {% if pode_criar %}
            <a href="{% url 'criar_notificacao' %}" class="icon-btn">
                <i class="fa fa-paper-plane"></i>
            </a>
            <a href="{% url 'minhas_notificacoes' %}" class="icon-btn">
                <i class="fa fa-bell"></i> 
            </a>
            <button class="icon-btn" onclick="history.back();">
                <i class="fa fa-arrow-left"></i>
            </button>
            {% endif %}
        </div>
    </div>
    <hr>

    <!-- Lista de Notificações -->
    <div class="professores-container">
        <ul class="disciplinas-add-list">
            {% for notificacao in notificacoes %}
            {% if user not in notificacao.excluidas_por.all %}
            <li class="topico-detail-item">
                <div class="postagem-conteudo">
                    {% if notificacao.topico %}
                        <a href="{% url 'detalhe_topico' notificacao.topico.id %}">
                    {% elif notificacao.disciplina %}
                        <a href="{% url 'detalhe_disciplina' notificacao.disciplina.id %}">
                    {% elif notificacao.evento %}
                        <a href="{% url 'detalhe_evento' notificacao.evento.id %}">
                    {% else %}
                        <a href="#">
                    {% endif %}
                        <h5 class="disciplina-nome" style="font-size: min(20px, 7vw); margin-top: 0; margin-bottom: 0;">{{ notificacao.titulo }}</h5>
                        <p class="disciplina-nome" style="font-size: min(18px, 5vw); color: black;">{{ notificacao.mensagem }}</p>
                    </a>

                    {% if notificacao.disciplina %}
                        <p class="disciplina-nome" style="font-size: min(15px, 3.5vw); color: #8c8c8c; margin-bottom:0; margin-top: 0;">Referente à disciplina: {{ notificacao.disciplina.nome }}</p>
                    {% endif %}
                    
                    {% if notificacao.evento %}
                    <div style="display: flex; flex-direction: row; gap: min(2vw,10px);">
                        <p class="disciplina-nome" style="font-size: min(15px, 3.5vw); color: #8c8c8c; margin-bottom:0; margin-top: 0;">Referente ao evento: {{ notificacao.evento.nome }}</p>
                    </div>
                    {% endif %}

                    {% if notificacao.topico %}
                    <div style="display: flex; flex-direction: row;">
                        <p class="disciplina-nome" style="font-size: min(15px, 3.5vw); color: #8c8c8c; margin-bottom:0; margin-top: 0;">Referente ao tópico: {{ notificacao.topico.titulo }}</p>
                    </div>
                    {% endif %}

                    <small class="disciplina-nome" style="font-size: min(15px, 3.5vw); color: #8c8c8c;">Enviado por: 
                        {% if notificacao.criador %}
                            {{ notificacao.criador.get_full_name }}
                        {% else %}
                            Sistema
                        {% endif %}
                        em {{ notificacao.criado_em|date:"d/m/Y H:i" }}
                    </small>
                    
                    <div style="display: flex; flex-direction: row; gap: min(2vw,10px); font-size: min(15px, 3.5vw); margin-top: min(14px,4vw); padding: 0">
                        {% if notificacao.disciplina %}
                            <a href="{% url 'detalhe_disciplina' notificacao.disciplina.id %}" class="icon-btn">
                                <i class="fa fa-book" style="font-size: min(15px, 3.5vw); margin-right:min(1vw,3px);"></i> Ver Disciplina
                            </a>
                        {% endif %}
                        
                        {% if notificacao.evento %}
                            <a href="{% url 'detalhe_evento' notificacao.evento.id %}" class="icon-btn">
                                <i class="fa fa-calendar" style="margin-right: max(-1vw,-6px); font-size: min(15px, 3.5vw); margin-left: max(-1.8vw,-10px)"></i> Ver Evento
                            </a>
                        {% endif %}

                        {% if notificacao.topico %}
                        <div style="display: flex; flex-direction: row;">
                            <a href="{% url 'detalhe_topico' notificacao.topico.id %}" class="icon-btn">
                                <i class="fa fa-comments" style="font-size: min(15px, 3.5vw); margin-right:min(1vw,3px);"></i> Ver Tópico
                            </a>
                        </div>
                        {% endif %}
                    
                        <a href="{% url 'excluir_notificacao_recebida' notificacao.id %}" class="icon-btn remover-btn" style="font-size: min(15px, 3.5vw); color: red;">
                            <i class="fa fa-trash" style="font-size: min(15px, 3.5vw);"></i> Excluir
                        </a>
                    </div>
                </div>
            </li>
            {% endif %}
            {% empty %}
            <li class="empty-result" style="font-size: min(15px, 4vw); color: #8c8c8c;">Nenhuma notificação disponível.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}  