{% extends 'core/base.html' %}

{% block title %}Confirmar Remoção{% endblock %}

{% block content %}
{% load static %}
{% block body %}
<style>
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

html, body {
    width: 100%; 
}
</style>
{% endblock %}
<div class="disciplinas-add-container">
    <!-- Título e Botão de Voltar -->
    <div class="header-container">
        <h1>Remover {{ tipo }}: {{ nome }}</h1>
        <div class="actions">
            <a href="{% url 'detalhe_topico' topico_id=topico.id %}" class="icon-btn">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <hr>

    <!-- Mensagem de confirmação e ações -->
    <div class="import-disciplinas-container-topico">
        <p class="confirmation-message" style="font-size: min(15px,4vw); color: #8c8c8c;">
            Tem certeza de que deseja remover este tópico? Esta ação não pode ser desfeita.
        </p>
        <form method="post" class="topico-form">
            {% csrf_token %}
            <button type="submit" class="import-btn">
                <i class="fa fa-trash"></i>
                <span>Remover</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
