@media only screen and (max-width: 768px){
    body {
        font-family: Arial, sans-serif;
        background-color: #888; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 100%;
        height: 80vw;
        display: flex;
        align-items: center;
    }
    
    .logo img {
        margin: 0 auto;
        width: 40vw;
    }
    
    .container {
        background-color: white;
        height: 100%;
        min-height: 100vh;
        width: 100vw;
        border-radius: 12vw 12vw 0 0;
        box-shadow: 0 0 6vw rgba(0, 0, 0, 0.5);
        overflow: hidden;
        text-align: center;
        text-align: left;
        padding-bottom: 10vw;
    }
    .container p{
        text-align: center;
    }
    .tabs {
        display: flex;
        justify-content: space-around;
        margin-bottom: 8vw;
        margin-top: 3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .tab {
        font-size: 6vw;
        padding: 3vw 0;
        font-weight: bold;
        cursor: pointer;
    }
    .tab.active {
        border-bottom: 2px solid #000000;
        color: #000000;
    }

    .container form {
        display: flex;
        flex-direction: column;
        gap: 6vw;
        width: 80%; 
        margin: 0 auto; 
    }
    input {
        font-size: 5vw;
        padding: 2vw;
        height: 6vw;
        border: 1px solid #000000;
        border-radius: 1.5vw;
    }
    input::placeholder {
        font-size: 5vw; 
        color: #888; 
    }
    .container form button {
        width: 80%;
        margin:auto;
        margin-top: 10vw;
        padding: 3vw;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5vw;
        cursor: pointer;
        font-size: 5vw;
        margin-bottom: 10vw;
    }
    .container form button:hover {
        background-color: #333;
    }
    a {
        text-decoration: none;
        color: #000000;
    }

    .container form input,
    .container form select,
    .container form textarea {
        width: 100%; 
        height: 12vw;
        padding-left: 2vw;
        margin: 0 auto; 
        border: 1px solid #949494; 
        border-radius: 2vw;
        font-size: 6vw;
        box-sizing: border-box; 
        text-align: left;
        color: rgb(135, 135, 135);
    }

    .container form input:focus,
    .container form select:focus,
    .container form textarea:focus {
        border-color: #000000;  
        outline: none;
        
    }

    .container form .errorlist {
        list-style: none;
        padding-left: 0;
        color: red;
        margin-top: 2vw;
        font-size: 4vw;
    }

    .container form br{
        display: block;
        margin-top: 10vw;
        margin-bottom: 2vw;
    }


    .container form label{
        font-size: 4vw;
    }
    

    
    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 900;
        display: none;
    }

    .side-menu.open + .menu-overlay {
        display: block;
    }

    
    .side-menu {
        position: fixed;
        top: 0;
        left: -100%; 
        width: 70%;
        max-width: 220px;
        height: 100%;
        border-radius: 0 min(12vw,25px) min(12vw,25px) 0; 
        background-color: #fff;
        box-shadow: 2vw 0 3vw rgba(0, 0, 0, 0,5);
        transition: left 0.3s ease-in-out;
        z-index: 1000;
        overflow-y: auto; /* Permite rolagem vertical */
        overflow-x: hidden; /* Evita rolagem horizontal */
        scroll-behavior: smooth; 
    }

    .side-menu.open {
        left: 0; 
    }


    .menu-header {
        display: flex;
        justify-content: left;
        flex-direction: column;
        text-align: left;
        padding: 6vw;
        padding: min(20px,8vw);
        border-bottom: 1px solid #ddd;
    }
    .menu-header h3{
        font-size: min(5vw,15px);
    }
    .menu-header p{
        font-size: min(4.5vw,15px);
        color: #333;
        margin-top: -2vw;
    }

    .profile-pic {
        width: 15vw;
        max-width: 60px;
        max-height: 60px;
        height: 15vw;
        border-radius: 50%;
        margin-bottom: 0;
    }

    .menu-items {
        list-style: none;
        padding: 3vw 0;
        margin: 0;
        overflow-y: auto;
    }

    .menu-items li {
        padding: min(15px,5vw) min(20px,6vw);
    }

    .menu-items li a {
        text-decoration: none;
        color: #333;
        font-size: min(5vw,18px);
        display: flex;
        align-items: center;
    }

    .menu-items li a i {
        margin-right: min(10px,5vw);
    }

    .logout-btn i {
        font-size: min(5vw,18px);
    }
    .logout-btn {
        background-color: white;
        color: #c10000;
        border: none;
        padding: min(15px,5vw) min(20px,6vw);
        font-size: min(5vw,18px);
        font-weight: bold; 
        cursor: pointer;
    }
    
    .logout-btn:hover {
        background-color: #9d9d9d;
    }   
    
    .logout-btn:active {
        background-color: #9d9d9d; 
    }
    
    .logout-btn:focus {
        outline: none; 
    }

    /* Bottom Navigation */
    .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: min(60px, 20vw);
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #e0e0e0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
        z-index: 600;
    }
    
    .nav-item {
        flex: 1;
        text-align: center;
        color: #333;
        text-decoration: none;
        position: relative;
    }
    
    .nav-item img {
        width: min(24px, 8vw); 
        height: min(24px, 8vw);
        filter: grayscale(100%); 
    }
    


    .modal-profile {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2000;
        justify-content: center;
        align-items: center;
    }
    
    .modal-profile.active {
        display: flex; 
    }
    
    .modal-content {
        background: #fff;
        width: 70%;
        max-width: 400px;
        border-radius: min(10px,5vw);
        overflow: hidden;
        box-shadow: 0px min(5px,2vw) min(15px,5vw) rgba(0, 0, 0, 0.3);
        animation: slideIn 0.3s ease-out;
    }
    
    .modal-header {
        text-align: center;
        padding: min(20px,4vw);
        background: #f5f5f5;
        border-bottom: 1px solid #ddd;
        position: relative;
    }
    
    .modal-header img {
        width: min(70px,16vw); 
        height: min(70px,16vw); 
        object-fit: cover;
        margin-bottom: 0;
        margin-top: min(2vw,15px);
    }
    
    .modal-header h3 {
        margin: 0;
        font-size: min(20px,5vw);
    }  
    
    .modal-header p {
        margin: 0;
        font-size: min(14px,4vw);
        color: #777;
    }
    
    .modal-body {
        font-size: min(4vw,18px);
        padding: min(20px,5vw);
        text-align: left;
    }
    
    .modal-footer {
        padding: min(15px,4vw);
        text-align: center;
        background: #f5f5f5;
        border-top: 1px solid #ddd;
    }
    
    .btn-primary {
        background-color: #000000;
        color: #fff;
        border: none;
        padding: min(10px,2vw) min(20px,4vw);
        border-radius: min(5px,2vw);
        cursor: pointer;
        text-decoration: none;
        font-size: min(15px,5vw);
    }
    
    .close-modal {
        position: absolute;
        top: min(10px,2vw);
        right: min(15px,2vw);
        background: none;
        border: none;
        font-size: min(20px,3vw);
        cursor: pointer;
    }
    
    @keyframes slideIn {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .container .editprofile{
        margin-top: 8vw;
        margin-left: 10vw;
        font-size: 6vw;
    }
    
}